body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(56, 57, 57);
}

.container{
    width: 550px;
}

#progress .times,
.card-footer,
.volume-container
 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-container i {
    margin-right: 5px;
}

li.playing {
    background-color: #0b5eb7;
    color:#fff;
}